<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <div class="card" class="col-12">
                <div class="card-body">
                    <h3 class="card-title">Tareas</h3>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Descripcion de la tarea</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="newTask.description">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Estimacion en dias</label>
                                <input type="number" class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="newTask.estimate">
                            </div>
                            <br>
                            <button type="button" class="btn btn-primary" (click)="add()">Agregar Tarea</button>
                        </div>
                    </div>

                    <!--
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    -->
                </div>
            </div>
        </div>

        <div class="col-6">
            <ul class="list-group">
                <li *ngFor="let task of tasks" class="list-group-item"> {{ task.description }} </li>

            </ul>
        </div>
    </div>
</div>